<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title>Tracky</title>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href={{url_for('main.index') }}> Home </a>
            <a class="navbar-item" href={{url_for('tasks.get_all_tasks') }}>Tasks </a>
            <a class="navbar-item" href={{url_for('auth.logout') }}> Logout </a>
        </div>
    </div>
</nav>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>