<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <title>Tracky</title>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <p class="title">
            <H2> PoC for PDP resource management</H2></p>
        </div>
        <div class="navbar-divider"></div>
        <div class="navbar-end">
            <a class="navbar-item" href={{url_for('main.home') }}> Home </a>
            <a class="navbar-item" href={{url_for('main.tasks') }}> Tasks </a>
            <a class="navbar-item" href={{url_for('auth.logout') }}> Logout </a>
        </div>

    </div>
</nav>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>