{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3>{{username}}'s Tasks</h3>
    <table class="table is-bordered is-hoverable is-fullwidth is-narrow" name="tblList" border=1>
        <tr>
            <th>Task Type</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
        {% for task in tasks_list %}
        <tr>
            <td>{{task.type}}</td>
            <td>{{task.description}}</td>
            <td>{{task.status}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}